.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: #b5e48c;
  color: #1e1e1e;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button:hover {
  background: #a2d867;
}

.border {
  border: 2px solid #000; 
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: #333;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 16px;
}

.title {
  margin-left: 8px;
}
