.button {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;

  font-size: 16px;
  color: #1e1e1e;

  background: #b5e48c;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background: #a2d867;
}

.border {
  border: 2px solid #000;


}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  margin-right: 10px;

  font-size: 16px;
  color: #fff;

  background: #333;
  border-radius: 50%;

}

.title {
  margin-left: 8px;
}
