.filtersModal {
  position: fixed;
  z-index: 1000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(0 0 0 / 50%);
}

.containerModal {
  width: 300px;
  height: 234px;
  padding: 14px 14px 24px 24px;

  background-color: var(--bg-modal-filters);
  border-radius: 8px;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
}

.btn {
  cursor: pointer;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  background-color: inherit;
  border: none;
}

.btnIcon {
  width: 18px;
  height: 18px;
  fill: var(--color-text-base);
}

.title {
  height: 27px;
  margin-top: 10px;
  margin-bottom: 14px;
  padding-top: 4.5px;

  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text-base);
}

.containerContent {
  margin-right: 10px;
}

.line {
  height: 1px;
  margin: 0;
  margin-bottom: 14px;

  background-color: var(--modal-filers-line);
  border: none;
}

.containerLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 21px;
  margin-bottom: 14px;
}

.btnAll {
  cursor: pointer;

  padding: 0;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: var(--modal-icon);
  text-decoration: underline;

  background-color: inherit;
  border: none;
}

.titleLabel {
  font-weight: 500;
  font-style: normal;
  color: var(--color-text-base);
}

.containerLevel {
  display: flex;
  align-items: center;
  height: 18px;
}

.containerLevel:not(:last-child) {
  margin-bottom: 8px;
}

.customCheckbox {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: var(--modal-icon);
}

.checkboxInput {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.checkboxCustom {
  width: 14px;
  height: 14px;
  margin-right: 8px;

  border-radius: 50%;

  transition: background-color 0.3s;
}

.checkboxInput:checked + .checkboxCustom {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 14px;
  margin-right: 8px;

  background-color: inherit;
  border: 1px solid;
}

.checkboxMiddle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.checkedText {
  color: var(--color-text-base);
}

.gray {
  color: var(--checkbox-filter-gray);
  background-color: var(--checkbox-filter-gray);
}

.blue {
  color: #8fa1d0;
  background-color: #8fa1d0;
}

.pink {
  color: #e09cb5;
  background-color: #e09cb5;
}

.green {
  color: #bedbb0;
  background-color: #bedbb0;
}
