.mainCont {
  display: flex;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, var(--color-white) 0%, var(--color-green) 100%);
}

.formCont {
  display: flex;
  flex-direction: column;
  gap: 14px;

  width: 335px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px;

  background-color: var(--bg-color-form);
  border-radius: 8px;
}

.p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--color-white);
}

.link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--color-form-light);
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 14px;
  margin-bottom: 26px;
}

.input {
  padding: 14px 18px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--color-white);

  opacity: 0.4;
  background-color: #1f1f1f;
  border: 1px solid var(--color-border-modal);
  border-radius: 8px;
}

.input:hover,
.input:focus {
  opacity: 1;
}

.button {
  cursor: pointer;

  margin-top: 10px;
  padding-top: 14px;
  padding-bottom: 14px;

  text-align: center;

  background-color: var(--color-border-modal);
  border: none;
  border-radius: 8px;
}

@media screen and (width <= 374px) {
  .formCont {
    width: 80%;
  }
}

@media screen and (width >= 768px) {
  .formCont {
    width: 424px;
    height: 332px;
    padding: 40px;
  }
}
