.logoContainer {
  display: flex;
  gap: 8px;
  align-items: center;

  margin-top: 24px;
  margin-left: 24px;

  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  /* color: var(--title-sidebar); */
}

.logoContainerText {
  color: var(--title-sidebar);
}

.iconLogoContainer {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}
