.reactDatepickerCustomWrapper {
  position: relative;
  width: 100%;
}

/* Wrapper */
.react-datepicker {
  position: absolute;
  z-index: 1000;
  top: -320px; /* Adjust this value as needed */
  left: 70px;
  transform: none;

  font-family: Poppins, sans-serif;

  background-color: #1e1e1e;
  border: 1px solid rgb(128 128 128 / 43.5%);
  border-radius: 8px;

  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
}

/* Don't show triangle */
.react-datepicker__triangle {
  opacity: 0;
}

/* Header */
.react-datepicker__header {
  padding: 0;
  background-color: transparent;
  border: none;
}

.react-datepicker__current-month {
  padding: 18px 0 14px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  letter-spacing: -0.018em;

  transition: color 0.3s ease;
}

/* Arrows */
.react-datepicker__navigation {
  width: 24px;
  height: 24px;
}

.react-datepicker__navigation--previous {
  top: 18px;
  left: 10px;
  display: grid;
  place-items: center;
}

.react-datepicker__navigation--next {
  top: 18px;
  right: 10px;
  display: grid;
  place-items: center;
}

.react-datepicker__navigation-icon::before {
  top: 10px;
  left: -3px;

  width: 5px;
  height: 5px;

  opacity: 0.8;
  border-color: #fff;
  border-width: 0.1em 0.1em 0 0;

  transition: border-color 0.3s ease;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
  opacity: 1;
  border-color: #bedbb0;
}

/* Names of the days of the week */
.react-datepicker__day-names {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;

  margin: 0 18px;
  padding: 13px 0 4px;

  border-top: 1px solid #fff3;

  transition: border-color 0.3s ease;
}

.react-datepicker__day-name {
  display: grid;
  place-items: center;

  width: 23px;
  height: 23px;
  margin: 0;

  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  letter-spacing: -0.018em;

  opacity: 0.5;

  transition: color 0.3s ease;
}

/* Month */
.react-datepicker__month {
  display: flex;
  flex-direction: column;
  gap: 6px;

  margin: 0;
  padding: 0 18px 18px;
}

/* Weeks */
.react-datepicker__week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Days */
.react-datepicker__day {
  display: grid;
  place-items: center;

  width: 23px;
  height: 23px;
  margin: 0;

  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;

  border-radius: 50%;

  transition:
    color 0.1s ease-in-out,
    background-color 1s ease-in-out;
}

/* Days hover */
.react-datepicker__day:hover {
  display: grid;
  place-items: center;

  color: #1e1e1e;

  background-color: #bedbb0;
  border-radius: 50%;
}

/* Selected day */
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  color: #1e1e1e;
  background-color: #bedbb0;
}

/* Days of not current month */
.react-datepicker__day.react-datepicker__day--outside-month {
  opacity: 0.2;
}
