nav {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: start;
}

.link {
  padding: 16px 0;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: red;
}
