.projectItem {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 61px;

  color: var(--sidebar-grey-text);
}

.projectContainer {
  padding: 0 14px;
}

.projectTitleContainer {
  display: flex;
  gap: 10px;
}

.projectButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0 14px;

  color: inherit;

  background-color: inherit;
  border: none;
}

.currentProject .projectButton {
  background-color: var(--help-sidebar-background);
}

.projectIcon {
  width: 18px;
  height: 18px;
  color: inherit;
  fill: white;
}

.projectTitle .currentProject {
  color: var(--title-sidebar);
}

.projectControls {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;

  opacity: 0;

  transition: opacity 0.3s ease;
}

.showControls {
  opacity: 1;
}

.projectControls button {
  padding: 0;
  background-color: inherit;
  border: none;
}

.projectControlsEdit,
.projectControlsDelete {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--sidebar-grey-text);
}

.currentProject .projectTitleContainer {
  color: var(--title-sidebar);
}

.highlight {
  position: absolute;
  right: 0;

  width: 4px;
  height: 100%;

  background-color: var(--logout-svg-sidebar);
  border-radius: 5px 0 0 5px;
}
