.screensPage {
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screensPageText {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screensPage h2 {
  margin-bottom: 20px;
}

.screensPageTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 335px;
  height: 80px;
  line-height: 1.6;
  color: #fff;
  font-size: 12px;
}

@media (min-width: 768px) {
  .screensPageTextContainer {
    width: 100%;
    max-width: 486px;
    height: 72px;
  }
}
