.screensPage {
  height: 100%;
  padding: 14px 20px 0 20px;
}

@media only screen and (min-width: 768px) {
  .screensPage {
    padding: 14px 32px 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .screensPage {
    padding: 10px 24px 0 24px;
  }
}

.containerFilter {
  display: flex;
  justify-content: flex-end;
}

.filtersBtn {
  display: flex;
  align-items: center;
  background-color: inherit;
  height: 20px;
  color: var(--color-text-rgb);
  border: 0;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  position: absolute;
  margin-top: 4px;
}

.iconFilter {
  width: 16px;
  height: 16px;
  fill: var(--color-text-rgb);
  margin-right: 8px;
}

.titleBoard {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 28px;
  font-style: normal;
  color: var(--color-text-base);
  text-align: left;
  margin-bottom: 39px;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .titleBoard {
    margin-bottom: 26px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .titleBoard {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.columnBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 334px;
  height: 56px;
  background-color: var(--almost-black-color);
  border-radius: 8px;
  border: 0px;
  color: var(--todo-background);
}

@media (max-width: 768px) {
  .columnBtn {
    margin: 0 auto;
  }
}

.containerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--bg-board-icon-add);
  border-radius: 5px;
  margin-right: 8px;
}

.iconPlus {
  width: 14px;
  height: 14px;
  fill: var(--color-board-icon-add);
}
