.screensPage {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.screensPageTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  max-width: 335px;
  height: 80px;
letter-spacing: -0.02em;
  font-size: 12px;
  line-height: 16px;
  color: var(--card-text);
}

@media (min-width: 768px) {
  .screensPageTextContainer {
    width: 100%;
    max-width: 486px;
    height: 72px;
    font-size: 14px;
    line-height: 18px;
  }
}

.screensPageTextContainer .screensPageTextLink {
  color: var(--text-link-board)
}
