.container {
  min-width: 320px;
  max-width: 375px;
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vw;
}

.cont {
  max-width: 335px;
  max-height: 440px;
  margin: 0 auto;
  padding: 24px;

  background-color: var(--black-color);
  border: 1px solid var(--green-color);
  border-radius: 8px;
  box-shadow: 0 4px 16px hsl(0deg 0% 7% / 10%);
}

.wrap {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 14px;
}

.closeBtn {
  cursor: pointer;

  width: 18px;
  height: 18px;
  padding: 0;

  color: var(--white-color);

  background-color: transparent;
  border: none;

  fill: var(--white-color);
}

.txt {
  margin: 0;

  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: var(--white-color);
}

.avatarContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 24px;

  text-align: center;

  border-radius: 8px;
}

.plusBtn {
  cursor: pointer;

  position: absolute;
  top: 60px;

  width: 24px;
  height: 24px;

  background-color: var(--green-color);
  border: none;
  border-radius: 4px;
}

.formInput {
  position: relative;

  width: 100%;
  height: 49px;
  padding: 14px 18px;

  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--white-color);

  background-color: inherit;
  border: 1px solid var(--gray-text-color);
  border-radius: 8px;
  outline: none;
  box-shadow: none;
}

.formInput:focus {
  border: 2px solid var(--green-color);
}

.formGroup {
  position: relative;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 0;

  font-size: 12px;
  color: var(--red-color);
  text-align: left;
}

.forma {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 32px;
}

.btn {
  cursor: pointer;

  gap: 8px;
  align-items: center;

  width: 100%;
  margin-top: 14px;
  padding-top: 10px;
  padding-bottom: 11px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 21px;
  color: var(--black-color);

  background-color: var(--green-color);
  border: none;
  border-radius: 8px;
}

.eye {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);

  color: var(--white-color);

  background-color: transparent;
  border: none;
}

.avatar {
  cursor: pointer;

  display: block;

  width: 68px;
  height: 68px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

@media screen and (width >= 375px) {
  .wrap {
    right: 34px;
  }
}

@media screen and (width >= 768px) {
  .cont {
    position: fixed;
    right: 20px;

    width: 400px;
    max-height: 440px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .container {
    max-width: 768px;
  }

  .wrap {
    right: 14px;
  }
}

@media screen and (width >= 768px) and (width <= 1180px) {
  .avatarContainer {
    margin-top: 14px;
  }
}

@media screen and (width >= 1180px) {
  .wrap {
    right: 14px;
  }

  .cont {
    top: 60px;
  }
}
