.createNewBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 14px 0;
  margin: 8px 24px 0px;
  width: 212px;

  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 500;

  border-top: 1px solid var(--border-sidebar-create);
  border-bottom: 1px solid var(--border-sidebar-create);
}

.createNewBoardText {
  width: 76px;
}

.buttonIcon {
  width: 20px;
  height: 20px;
  fill: var(--sidebar-add-icon);
}

.buttonAddBoard {
  width: 40px;
  height: 36px;
  padding: 0;
  color: var();
}
