.createNewBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-top: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
}
.createNewBoardText {
  width: 76px;
}

.buttonIcon {
  width: 20px;
  height: 20px;
  fill: var(--almost-black-color);
}

.buttonAddBoard {
  padding: 0;
  width: 40px;
  height: 36px;
}
