/* Mobile style */
@media only screen and (width >= 320px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleBoard {
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleEmailPosition {
    margin-top: 24px;
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .titleEmail {
    width: 100%;
    padding: 14px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleCommentPosition {
    padding-top: 14px;
    padding-bottom: 24px;

    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .titleComment {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 85px;
    padding-left: 18px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .createButton {
    width: 100%;
    padding: 14px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .CommentPosition {
    margin-top: 14px;
    margin-bottom: 24px;
  }

  .CommentTitle {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 85px;
    padding-left: 18px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
}

/* tablet styles */

@media only screen and (width >= 768px) {
  .container {
    max-width: 433px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleEmailPosition {
    margin-top: 24px;
    padding-top: 24px;

    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .titleEmail {
    width: 100%;
    padding: 14px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleCommentPosition {
    padding-top: 14px;
    padding-bottom: 24px;

    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .titleComment {
    width: 100%;
    padding: 14px 264px 85px 18px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .CommentPosition {
    margin-top: 14px;
    margin-bottom: 24px;
  }

  .CommentTitle {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 85px;
    padding-left: 18px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
}

/* desktop styles */

@media only screen and (width <= 1440px) {
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 0 15px;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleEmail {
    width: 100%;
    padding: 14px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleCommentPosition {
    padding-top: 14px;
    padding-bottom: 24px;

    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .titleComment {
    width: 100%;
    padding: 14px 264px 85px 18px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleBoard {
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleEmailPosition {
    margin-top: 24px;
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .CommentPosition {
    margin-top: 14px;
    margin-bottom: 24px;
  }

  .CommentTitle {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 85px;
    padding-left: 18px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
}
