/* Mobile style */
@media only screen and (min-width: 320px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleBoard {
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleEmailPosition {
    margin-top: 24px;
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .titleEmail {
    width: 100%;
    padding: 14px;
    border: 1px solid var(--green-color);
    border-radius: 8px;

    background-color: var(--black-color);
  }
  .CommentPosition {
    margin-top: 14px;
    margin-bottom: 24px;
  }
  .CommentTitle {
    width: 100%;
    padding-top: 14px;
    padding-left: 18px;
    padding-bottom: 85px;
    border: 1px solid var(--green-color);
    border-radius: 8px;
    background-color: var(--black-color);
    background-color: var(--black-color);
  }
}

/* tablet styles */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 433px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleBoard {
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleEmailPosition {
    margin-top: 24px;
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .titleEmail {
    width: 100%;
    padding: 14px;
    border: 1px solid var(--green-color);
    border-radius: 8px;

    background-color: var(--black-color);
  }
  .CommentPosition {
    margin-top: 14px;
    margin-bottom: 24px;
  }
  .CommentTitle {
    width: 100%;
    padding-top: 14px;
    padding-left: 18px;
    padding-bottom: 85px;
    border: 1px solid var(--green-color);
    border-radius: 8px;
    background-color: var(--black-color);
    background-color: var(--black-color);
  }
}

/* desktop syles */

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 433px;
    padding: 0 15px;
  }
  .titleBoard {
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleEmailPosition {
    margin-top: 24px;
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .titleEmail {
    width: 100%;
    padding: 14px;
    border: 1px solid var(--green-color);
    border-radius: 8px;

    background-color: var(--black-color);
  }
  .CommentPosition {
    margin-top: 14px;
    margin-bottom: 24px;
  }
  .CommentTitle {
    width: 100%;
    padding-top: 14px;
    padding-left: 18px;
    padding-bottom: 85px;
    border: 1px solid var(--green-color);
    border-radius: 8px;
    background-color: var(--black-color);
    background-color: var(--black-color);
  }
}
