@media only screen and (width >= 320px) {
  .container {
    max-width: 433px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleBoard {
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleEmailPosition {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
    padding-top: 24px;
  }
  .titleEmail {
    width: 100%;
    padding: 14px;
    background-color: var(---black-color-input);
    color: var(--gray-text-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
  .titleCommentPosition {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
    padding-top: 14px;
    padding-bottom: 24px;
  }
  .titleComment {
    padding-top: 14px;
    padding-bottom: 85px;
    padding-left: 18px;
    width: 100%;
    background-color: var(---black-color-input);
    color: var(--gray-text-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
  .createButton {
    width: 100%;
  }
}

/* tablet styles */

@media only screen and (width >= 768px) {
  .container {
    max-width: 433px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleEmailPosition {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
    padding-top: 24px;
  }
  .titleEmail {
    width: 100%;
    padding: 14px;
    background-color: var(---black-color-input);
    color: var(--gray-text-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
  .titleCommentPosition {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
    padding-top: 14px;
    padding-bottom: 24px;
  }
  .titleComment {
    padding: 14px 264px 85px 18px;
    width: 100%;
    background-color: var(---black-color-input);
    color: var(--gray-text-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
}

/* desktop styles */

@media only screen and (width >= 1158px) {
  .container {
    max-width: 433px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  .titleEmailPosition {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
    padding-top: 24px;
  }
  .titleEmail {
    width: 100%;
    padding: 14px;
    background-color: var(---black-color-input);
    color: var(--gray-text-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
  .titleCommentPosition {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
    padding-top: 14px;
    padding-bottom: 24px;
  }
  .titleComment {
    padding: 14px 264px 85px 18px;
    width: 100%;
    background-color: var(---black-color-input);
    color: var(--gray-text-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }
}
