.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.phone {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.edit {
  cursor: pointer;

  width: 80px;
  padding: 8px 16px;

  color: #000;

  border-radius: 8px;
}

.delete {
  cursor: pointer;

  width: 80px;
  padding: 8px 16px;

  color: red;

  border-radius: 8px;
}
