form {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 390px;
  margin-top: 20px;
  padding: 20px;

  border: 1px solid #000;
  border-radius: 8px;
}

.input {
  display: block;

  width: 350px;
  height: 40px;
  margin-bottom: 40px;
  padding: 8px 20px;

  border: 1px solid #000;
  border-radius: 8px;
}

.name {
  position: absolute;
  top: 88px;
  color: red;
}

.number {
  position: absolute;
  top: 192px;
  color: red;
}

.submit {
  cursor: pointer;
  align-self: center;
  padding: 8px 16px;
  border-radius: 8px;
}
