.logOutContainer {
  display: flex;
  padding: 0 14px;
}

.logOutIcon {
  width: 32px;
  height: 32px;
  fill: var(--logout-svg-sidebar);
}

.logOutBtn {
  display: flex;
  justify-content: space-around;

  width: 105px;
  margin-top: 20px;
  padding: 0;
  color: inherit;

  background-color: inherit;

  &:hover .logOutIcon {
    fill: var(--almost-black-color);
  }
}

.logOutBtnText {
  font-size: 14px;
  font-weight: 500;
  color: var(--title-sidebar);
}
