.logOutContainer {
  display: flex;
}

.logOutBtn {
  display: flex;
  justify-content: space-between;

  width: 105px;
  margin-top: 20px;

  color: inherit;

  background-color: inherit;

  &:hover .logOutIcon {
    fill: var(--almost-black-color);
  }
}

.logOutIcon {
  width: 32px;
  height: 32px;
  fill: var(--green-color);
}

.logOutBtnText {
  font-size: 14px;
  font-weight: 500;
}
