.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 20px;

  background-color: var(--almost-black-color);
}

@media screen and (width >= 768px) {
  .headerBox {
    padding: 18px 32px;
  }
  .menu {
    display: none;
  }
}

@media screen and (width >= 1440px) {
  .headerBox {
    justify-content: flex-end;
    padding: 18px 24px;
  }
}

.imgBtn {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 32px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: -0.02em;
}

.avatarWrap {
  cursor: pointer;

  width: 32px;
  height: 32px;

  object-fit: cover;
  border-radius: 8px;
  transition: all 250ms linear;
}

.avatarWrap:hover {
  transform: scale(1.1);
}

.arrowIcon {
  width: 16px;
  height: 16px;
  transition: all 0.3s ease-in-out;
}

.arrow {
  width: 16px;
  height: 16px;
  background-color: transparent;
  fill: var(--white-color);
}

.arrowIcon.open {
  transform: rotate(-180deg);
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: var(--almost-white-color);
}

.dropdown {
  position: relative;

  display: inline-block;

  width: 68px;
  height: 21px;

  font-size: 14px;
  font-weight: 500;
  color: var(--filters-button-light-color);
  letter-spacing: -0.02em;
}

.dropbtn {
  display: flex;
  gap: 5px;
  align-items: center;

  padding-top: 2px;

  font-size: 14px;
  color: var(--almost-white-color);

  background-color: transparent;
  border: none;
}

.dropdownContent {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -20px;
  transform-origin: top;
  transform: scaleY(0);

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 100px;
  padding: 18px;

  opacity: 0;
  background-color: var(--black-color);
  border: 1px solid var(--green-color);
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgb(17 17 17 / 10%);

  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.dropdownContent.show {
  transform: scaleY(1);
  opacity: 1;
}

.rightBlock {
  display: flex;
  gap: 25px;
  align-items: center;
}

.themeBtn {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-text-color);
  text-align-last: left;
  letter-spacing: -0.02em;

  background-color: transparent;
  border: none;

  transition: all 0.3s ease-in-out;
}

.themeBtn:not(:last-child) {
  margin-bottom: 5px;
}

.themeBtn:hover {
  transform: translateX(5px);
  color: var(--green-color);
}

.burgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.menu {
  width: 24px;
  height: 24px;
  background-color: transparent;
  fill: var(--white-color);
}

@media screen and (width >= 768px) {
  .menu {
    width: 32px;
    height: 32px;
  }
}

@media screen and (width >= 1440px) {
  .menu {
    display: none;
  }
}

.avatar {
  width: 32px;
  height: 32px;

  border-radius: 8px;
}

@media screen and (width >= 767px) {
  .modalContainer {
    width: 400px;
  }
}
