.burgerMenu {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.burgerMenu svg {
  width: 24px;
  height: 24px;
  fill: white;
}

@media (width >= 768px) {
  .burgerMenu {
    display: none;
  }
}
