.needHelpContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 auto;
  width: 212px;
  height: 238px;
  padding: 14px;

  background-color: var(--header-icon-user-bg);
  border-radius: 8px;
}

.needHelpImg {
  width: 54px;
  height: 78px;
}

.needHelpText {
  font-size: 12px;
  font-weight: 400;
}

.needHelpLink {
  color: var(--logout-svg-sidebar);
}

.iconLogoContainer {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.needHelpLinkInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 94px;

  font-size: 12px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
