.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgb(0 0 0 / 50%);
}

.modalContent {
  position: relative;

  width: 350px;
  padding: 20px;

  color: #fff;

  background: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.addTitle {
  font-size: 18px;
}

.closeButton {
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 24px;
  color: #fff;

  background: none;
  border: none;
}

.closeIcon {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.addButton {
  width: 302px;
  height: 49px;
  font-size: 14px;
}

.modalInputTitle {
  resize: none;

  width: 100%;
  max-width: 302px;
  min-height: 48px;
  margin: 10px 0;
  padding: 10px;

  color: #fff;
  letter-spacing: normal;
  overflow-wrap: break-word;

  background: #333;
  border: 1px solid rgb(128 128 128 / 43.5%);
  border-radius: 4px;

  transition: border-color 0.3s ease;
}

.modalInputTitle::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalInputTitle:focus {
  border-color: #bedbb0;
}

.modalInputDescription {
  resize: none;

  width: 100%;
  max-width: 302px;
  height: 154px;
  margin: 10px 0;
  padding: 10px;

  font-size: 14px;
  color: #fff;
  overflow-wrap: break-word;

  background: #333;
  border: 1px solid rgb(128 128 128 / 43.5%);
  border-radius: 4px;

  transition: border-color 0.3s ease;
}

.modalInputDescription::placeholder {
  font-size: 14px;

  /* padding: 14px 18px; */
}

.modalInputDescription:focus {
  border-color: #bedbb0;
}

.textarea {
  resize: none;
  outline: none;
}

.section {
  margin-top: 20px;
}

.sectionTitle {
  display: block;
  margin-bottom: 8px;
  color: #ffffff80;
}

.labelColors {
  display: flex;
  gap: 4px;
  align-items: center;
}

.labelColor {
  cursor: pointer;

  position: relative;

  width: 14px;
  height: 14px;

  border: 2px solid transparent;
  border-radius: 50%;
}

.labelColor.active {
  border-color: #333;
}

.pink {
  background-color: #e09cb5;
}

.blue {
  background-color: #8fa1d0;
}

.green {
  background-color: #bedbb0;
}

.gray {
  background-color: #ffffff4d;
}

.active {
  border-color: white;
}

.labelInput {
  display: none;
}

.deadline {
  margin-bottom: 4px;
}

.deadlineInput {
  cursor: pointer;
  margin-bottom: 40px;
  color: #bedbb0;
}

.addButton:hover {
  background: #a2d867;
}
