.sidebar {
  display: flex;
  flex-direction: column;

  width: 260px;
  height: 100vh;
  padding: 24px;

  color: var(--white-color);

  background-color: var(--black-color);
}

@media (width <= 768px) {
  .sidebar {
    display: none;
  }
}
