.sidebar {
  width: 260px;
  height: 100vh;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 24px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
