@media only screen and (width >= 320px) {
  .container {
    position: relative;
    display: flex;
    max-width: 325px;
    margin: 0 auto;
    padding: 24px;
    flex-direction: column;
    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  /* Title style */
  .titleBoard {
    padding-bottom: 24px;
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleDown {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .input {
    width: 100%;
    padding: 14px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  /* Icons Style */
  .iconslist {
    display: flex;
    list-style: none;
    gap: 8px;
  }

  .iconslist svg {
    cursor: pointer;
    fill: var(--black-color);
  }
  .iconTitle {
    padding-top: 24px;
    padding-bottom: 7px;
    color: var(--white-color);
  }

  .icons {
    width: 18px;
    height: 18px;
    stroke: var(--color-btn-text);
  }

  /* Input style */
  input[type='radio'],
  input[type='checkbox'] {
    opacity: 0;
    position: absolute;
  }

  /* Button style */
  .btnClose {
    position: absolute;
    top: 14px;
    right: 14px;

    background-color: transparent;
    border: transparent;
  }

  .xClose {
    z-index: -1;
    width: 18px;
    height: 18px;
    stroke: var(--black-color);
  }

  /* Background style */
  .backgroundTitle {
    padding-top: 24px;
    padding-bottom: 14px;
    color: var(--white-color);
  }

  .backgroundsList {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4px;
    list-style: none;
  }

  .backgroundIcon {
    width: 28px;
    height: 28px;
    border-radius: 6px;
  }

  /* Button style */
  .createButton {
    width: 100%;
    margin-top: 24px;
  }
}

/* tablet styles */

@media only screen and (width >= 768px) {
  .container {
    max-width: 350px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  /* Title style */
  .titleBoard {
    padding-bottom: 24px;
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleDown {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .input {
    width: 100%;
    padding: 14px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  /* Icons Style */
  .iconTitle {
    padding-top: 24px;
    padding-bottom: 7px;
    color: var(--white-color);
  }

  .icons {
    width: 18px;
    height: 18px;
    stroke: var(--color-btn-text);
  }

  /* Background style */
  .backgroundTitle {
    padding-top: 24px;
    padding-bottom: 14px;
    color: var(--white-color);
  }

  /* Button style */
  .createButton {
    width: 100%;
    margin-top: 24px;
  }
}

/* desktop syles */

@media only screen and (width <= 1440px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;

    background-color: var(--black-color);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  /* Title style */
  .titleBoard {
    padding-bottom: 24px;
    font-size: 18;
    font-weight: 500;
    color: var(--white-color);
  }

  .titleDown {
    font-size: 18;
    font-weight: 300;
    color: var(--white-color);
  }

  .input {
    width: 100%;
    padding: 14px;

    color: var(--gray-text-color);

    background-color: var(---black-color-input);
    border: 1px solid var(--green-color);
    border-radius: 8px;
  }

  /* Icons Style */
  .iconTitle {
    padding-top: 24px;
    padding-bottom: 7px;
    color: var(--white-color);
  }

  .icons {
    width: 18px;
    height: 18px;
    stroke: var(--color-btn-text);
  }

  /* Background style */
  .backgroundTitle {
    padding-top: 24px;
    padding-bottom: 14px;
    color: var(--white-color);
  }

  /* Button style */
  .createButton {
    width: 100%;
    margin-top: 24px;
  }
}
