.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgb(0 0 0 / 50%);
}

.modal-content {
  position: relative;

  width: 300px;
  padding: 20px;

  color: #fff;

  background: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.close-button {
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 20px;
  color: #fff;

  background: none;
  border: none;
}

h2 {
  margin-top: 0;
}

.modal-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;

  color: #fff;

  background: #333;
  border: none;
  border-radius: 4px;
}

.add-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 10px;

  font-size: 16px;
  color: #1e1e1e;

  background: #b5e48c;
  border: none;
  border-radius: 4px;
}

.add-button:hover {
  background: #a2d867;
}

.add-button::before {
  content: '+';
  margin-right: 5px;
  font-size: 16px;
}
