.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background:
    url('src/assets/icons/background.png') no-repeat center center / cover,
    linear-gradient(to bottom, var(--color-white) 0%, var(--color-green) 100%);
}

.img {
  width: 124px;
  height: 124px;
  margin-bottom: 14px;
}

.welcomeImg {
  width: 124px;
  height: 124px;
  background-image: url('../../assets/png/welcome-mob-1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 14px;
}

.logoCont {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.logo {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--color-text-base);
}

.text {
  width: 335px;
  margin-bottom: 40px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  color: var(--color-text-base);
  text-align: center;
}

@media screen and (max-width: 374px) {
  .registerBtn {
    width: 290px;
  }

  .text {
    width: 290px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .welcomeImg {
    background-image: url('../../assets/png/welcome-mob-2x.png');
  }
}

@media screen and (min-width: 375px) {
  .mainCont {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .mainCont {
    padding-right: 0;
    padding-left: 0;
  }

  .img {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
  }

  .title {
    font-size: 40px;
  }

  .text {
    width: 500px;
  }

  .registerBtn {
    width: 344px;
  }

  .welcomeImg {
    width: 162px;
    height: 162px;
    background-image: url('../../assets/png/welcome-tab-1x.png');
    margin-bottom: 24px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .welcomeImg {
    background-image: url('../../assets/png/welcome-tab-2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .welcomeImg {
    background-image: url('../../assets/png/welcome-desk-1x.png');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .welcomeImg {
    background-image: url('../../assets/png/welcome-desk-2x.png');
  }
}
