.mainCont {
  background:
    url('src/assets/icons/background.png') no-repeat center center / cover,
    linear-gradient(to bottom, #c4c4c4 0%, #bedbb0 100%);

  height: 100vh;
  padding-top: 187px;
}

.formCont {
  width: 424px;
  height: 395px;
  background-color: #151515;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.p {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 26px;
  color: #ffffff;
}

.input {
  border: 1px solid rgba(190, 219, 176, 1);
  border-radius: 8px;
  background-color: #1f1f1f;
  padding: 14px 18px;
  font-size: 14px;
}

.button {
  background-color: rgba(190, 219, 176, 1);
  border: none;
  border-radius: 8px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
