.labelColors {
  display: flex;
  align-items: center;
  gap: 8px; 
  max-width: 80px;
  max-height: 36px;
}

.radioButton {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  position: relative;
}

.radioButton.low {
  background-color: #8FA1D0; 
}

.radioButton.medium {
  background-color:#E09CB5; 
}

.radioButton.high {
  background-color: var(--color-border-modal);
}

.radioButton.none {
  background-color: #FFFFFF4D; 
}

.radioButton.active {
  border: 2px solid #161616;
}

.radioButton:hover {
  opacity: 0.7;
}

.sectionTitle {
  color: var(--color-text-rgb); 
  margin-bottom: 8px;
  display: block;
  font-size: 14px; 
}

.section {
  margin-top: 20px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.addTitle {
  font-size: 18px;
}

.closeButton {
  background: none;
  border: none;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}

.closeIcon {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.addButton {
  height: 49px;
  width: 302px;
  font-size: 14px;
}

.modalInputTitle {
  width: 100%;
  padding-left: 14px;
  padding-top: 18px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.435);
  background: #333;
  color: #fff;
  max-width: 302px;
  min-height: 48px;
  resize: none;
  overflow-wrap: break-word;
  transition: border-color 0.3s ease;
}

.modalInputTitle:focus {
  border-color: var(--color-border-modal); /* #bedbb0 */
}

.modalInputDescription {
  width: 100%;
  font-size: 14px;
  padding-left: 14px;
  padding-top: 18px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.435);
  background: #333;
  color: #fff;
  max-width: 302px;
  height: 154px;
  resize: none;
  overflow-wrap: break-word;
  transition: border-color 0.3s ease;
}

.modalInputDescription::placeholder {
  font-size: 14px;
}

.modalInputDescription:focus {
  border-color: var(--color-border-modal); 
}

.textarea {
  outline: none;
  resize: none;
}

.deadline {
  margin-bottom: 4px;
}

.deadlineInput {
  cursor: pointer;
  color: var(--color-border-modal); 
  margin-bottom: 40px;
}

.addButton:hover {
  background: var(--color-btn-hover); 
}

@media screen and (max-width: 374px) {
  .modalContent {
    width: 280px;
  }

  .addTitle {
    font-size: 16px;
  }

  .modalInputTitle {
    height: 49px;
  }

  .modalInputDescription {
    height: 154px;
  }

  .labelColors {
    max-width: 60px;
    gap: 4px;
  }

  .addButton {
    width: 245px;
    height: 40px;
    font-size: 12px;
  }

  .closeButton {
    right: 8px;
    top: 8px;
    font-size: 20px;
  }

  .closeIcon {
    width: 16px;
    height: 16px;
  }
  .radioButton{
    width: 12px;
    height: 12px;
  }
}
