@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --font-size-base: 14px;

  /* colors */
  --black-color: #161616;
  --almost-black-color: #121212;
  --white-color: #fff;
  --black-color-input: #1f1f1f;

  /* --gray-text-color: rgba(22, 22, 22, 0.7); */
  --gray-border-color: rgb(255 255 255 / 10%);
  --gray-text-color: rgb(255 255 255 / 50%);
  --light-gray-text-color: rgb(22 22 22 / 50%);
  --background-gray-color: #f6f6f7;
  --background-darkgray-color: #1f1f1f;
  --background-header-white-color: #fcfcfc;
  --green-color: #bedbb0;
  --violet-color: #5255bc;
  --violet-light: rgb(236 237 253 / 40%);
  --second-light-violet-color: #b8bcfd;
  --violet-super-light-color: #ecedfd;
  --filters-button-light-color: rgb(255 255 255 / 80%);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
