@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --font-size-base: 14px;
  /* colors */
  --black-color: '#161616';
  --white-color: '#FFFFFF';
  --gray-text-color: 'rgba(22, 22, 22, 0.7)';
  --light-gray-text-color: 'rgba(22, 22, 22, 0.5)';
  --background-gray-color: '#F6F6F7';
  --background-darkgray-color: '#1F1F1F';
  --background-header-white-color: '#FCFCFC';
  --green-color: '#BEDBB0';
  --violet-color: '#5255BC';
  --violet-light: rgba(236, 237, 253, 0.4);
  --second-light-violet-color: '#B8BCFD';
  --violet-super-light-color: '#ECEDFD';
  --filters-button-light-color: 'rgba(255, 255, 255, 0.8);';
}
body {
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
