@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --font-size-base: 14px;
  --background-header: #fcfcfc;
  --color-text-base: #161616;
  --color-text-rgb: rgba(22, 22, 22, 0.8);
  --color-border-modal: #bedbb0;
  --color-btn-text: #161616;
  --color-btn-hover: #9dc888;
  --background-sidebar: #fff;
  --header-logo-arrow: rgba(22, 22, 22, 0.8);
  --header-icon-user: #fff;
  --header-icon-user-bg: #f6f6f7;
  --title-sidebar: #161616;
  --logo-sidebar: #fff;
  --logo-sidebar-bg: #1f1f1f;
  --text-sidebar-rgb: rgba(22, 22, 22, 0.5);
  --border-sidebar-create: rgba(22, 22, 22, 0.1);
  --help-sidebar-background: #f6f6f7;
  --logout-svg-sidebar: #bedbb0;
  --logout-svg-sidebar-hv: #9dc888;
  --main-background: #f6f6f7;
  --todo-background: #fff;
  --card-text: rgba(22, 22, 22, 0.7);
  --todo-svg: : rgba(22, 22, 22, 0.5);
  --modal-icon: rgba(22, 22, 22, 0.5);

  /* --black-color: #161616;
  --almost-black-color: #121212;
  --white-color: #fff;
  --almost-white-color: #f1f1f1;
  --black-color-input: #1f1f1f;
  --red-color: red;
  --gray-border-color: rgb(255 255 255 / 10%);
  --gray-text-color: rgb(255 255 255 / 50%);
  --light-gray-text-color: rgb(22 22 22 / 50%);
  --background-gray-color: #f6f6f7;
  --background-darkgray-color: #1f1f1f;
   --green-color: #bedbb0;
  --violet-color: #5255bc;
  --violet-light: rgb(236 237 253 / 40%);
  --second-light-violet-color: #b8bcfd;
  --violet-super-light-color: #ecedfd;
  --filters-button-light-color: rgb(255 255 255 / 80%); */
}

[data-theme='dark'] {
  --background-header: #161616;
  --color-text-base: #fff;
  --color-text-rgb: rgba(255, 255, 255, 0.8); /* theme, filters */
  --color-border-modal: #bedbb0;
  --color-btn-text: #161616;
  --color-btn-hover: #9dc888;
  --background-sidebar: #121212;
  --header-logo-arrow: rgba(255, 255, 255, 0.8);
  --header-icon-user: #151515;
  --header-icon-user-bg: #1f1f1f;
  --title-sidebar: #fff;
  --logo-sidebar: #fff;
  --logo-sidebar-bg: #1f1f1f;
  --text-sidebar-rgb: rgba(255, 255, 255, 0.5);
  --border-sidebar-create: rgba(255, 255, 255, 0.1);
  --help-sidebar-background: #1f1f1f;
  --logout-svg-sidebar: #bedbb0;
  --logout-svg-sidebar-hv: #9dc888;
  --main-background: #1f1f1f;
  --todo-background: #121212;
  --card-text: rgba(255, 255, 255, 0.5);
  --todo-svg: : rgba(255, 255, 255, 0.5);
  --modal-icon: rgba(255, 255, 255, 0.5);
  /* --black-color: #161616;
    --almost-black-color: #121212;
    --white-color: #fff;
    --almost-white-color: #f1f1f1;
    --black-color-input: #1f1f1f;
    --red-color: red;
    --gray-border-color: rgb(255 255 255 / 10%);
    --gray-text-color: rgb(255 255 255 / 50%);
    --light-gray-text-color: rgb(22 22 22 / 50%);
    --background-gray-color: #f6f6f7;
    --background-darkgray-color: #1f1f1f;
    --green-color: #bedbb0;
    --violet-color: #5255bc;
    --violet-light: rgb(236 237 253 / 40%);
    --second-light-violet-color: #b8bcfd;
    --violet-super-light-color: #ecedfd;
    --filters-button-light-color: rgb(255 255 255 / 80%); */
}

[data-theme='violet'] {
  --background-header: #fff;
  --color-text-base: #161616;
  --color-text-rgb: rgba(22, 22, 22, 0.8);
  --color-border-modal: #ecedfd;
  --color-btn-text: #fff;
  --color-btn-hover: #7b7ede;
  --background-sidebar: #5255bc;
  --header-logo-arrow: rgba(22, 22, 22, 0.8);
  --header-icon-user: #ffffff;
  --header-icon-user-bg: #ecedfd;
  --title-sidebar: #fff;
  --logo-sidebar: #5255bc;
  --logo-sidebar-bg: #ecedfd;
  --text-sidebar-rgb: rgba(255, 255, 255, 0.5);
  --border-sidebar-create: rgba(255, 255, 255, 0.1);
  --help-sidebar-background: rgba(236, 237, 253, 0.4);
  --logout-svg-sidebar: #fff;
  --logout-svg-sidebar-hv: #b8bcfd;
  --main-background: #b8bcfd;
  --todo-background: #fff;
  --card-text: rgba(22, 22, 22, 0.7);
  --todo-svg: : rgba(22, 22, 22, 0.5);
  --modal-icon: rgba(22, 22, 22, 0.5);
  /* --black-color: #161616;
    --almost-black-color: #121212;
    --white-color: #fff;
    --almost-white-color: #f1f1f1;
    --black-color-input: #1f1f1f;
    --red-color: red;
    --gray-border-color: rgb(255 255 255 / 10%);
    --gray-text-color: rgb(255 255 255 / 50%);
    --light-gray-text-color: rgb(22 22 22 / 50%);
    --background-gray-color: #f6f6f7;
    --background-darkgray-color: #1f1f1f;
    --green-color: #bedbb0;
    --violet-color: #5255bc;
    --violet-light: rgb(236 237 253 / 40%);
    --second-light-violet-color: #b8bcfd;
    --violet-super-light-color: #ecedfd;
    --filters-button-light-color: rgb(255 255 255 / 80%); */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
