.homePage {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: 0;
  padding: 0;
}

.homePageContainer {
  display: flex;
  flex: 1;

  width: 100%;
  margin: 0;
  padding: 0;
}

.headerContainer {
  width: 100%;
}

.sidebar {
  transform: translateX(-100%);
  width: 260px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mainContent {
  overflow-y: auto;
  flex: 1;
}
