.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #b5e48c;
    color: #1e1e1e;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button:hover {
    background: #a2d867;
  }
  
  .button:disabled {
    background: #d3d3d3;
    cursor: not-allowed;
  }
  